# Data Preparation Part 2

## Step 1: Import packages and set working directory

In [1]:
# Import packages
import pandas as pd
import numpy as np
from scipy.stats import skew

In [2]:
# Optional Code: Here's a format for setting working directory, change as needed
import os
# os.chdir('/path/to/the/project')
os.chdir('/Users/zihanji/Desktop/DS340W')

## Step 2: Load the cleaned data

In [3]:
data_clean = pd.read_csv('./project/volume/data/interim/data_clean.csv')

## Step 3: Check and handle skewness

In [4]:
# Find continuous columns
cont_cols = data_clean.dtypes[data_clean.dtypes != 'object'].index
# Computes the skewness for each continuous column and sort them in order
skew_cols = data_clean[cont_cols].apply(lambda x: skew(x)).sort_values(ascending = False)
# Show the columns with high skewness (significant departure from normal distribution)
skew_data = skew_cols[abs(skew_cols) > 0.5]
print(skew_data)

Misc Val                21.988523
Pool Area               16.930469
Lot Area                12.814334
Low Qual Fin SF         12.111957
3Ssn Porch              11.397956
Kitchen AbvGr            4.311616
Enclosed Porch           4.012390
Screen Porch             3.955441
Bsmt Half Bath           3.940371
Mas Vnr Area             2.615927
Open Porch SF            2.534088
Wood Deck SF             1.841735
SalePrice                1.742607
Lot Frontage             1.641697
1st Flr SF               1.468676
BsmtFin SF 1             1.415698
MS SubClass              1.356884
Gr Liv Area              1.273457
Total Bsmt SF            1.155809
Bsmt Unf SF              0.922737
2nd Flr SF               0.866013
TotRms AbvGrd            0.753157
Fireplaces               0.738837
Half Bath                0.697356
Bsmt Full Bath           0.617411
Overall Cond             0.574135
Remodel Decade          -0.519341
Built Decade            -0.626757
Garage Yr Blt Decade    -0.748926
dtype: float64

In [5]:
# Applies a logarithmic transformation
for feature in skew_data.index:
    data_clean[feature] = np.log1p(data_clean[feature])

## Step 4: Check for numeric features' correlation with the SalePrice column (with skewness handled and use data_clean instead of data_cl)

In [6]:
Sales_cor = data_clean[data_clean.columns[1:]].corr(numeric_only = True)['SalePrice'][:-1]
Sales_cor.sort_values(ascending = False)

SalePrice          1.000000
Overall Qual       0.825645
Gr Liv Area        0.723164
Garage Cars        0.675312
Garage Area        0.651126
1st Flr SF         0.613423
Built Decade       0.607287
Remodel Decade     0.577667
Full Bath          0.577335
Fireplaces         0.508774
TotRms AbvGrd      0.501151
Open Porch SF      0.462735
Mas Vnr Area       0.443864
Total Bsmt SF      0.378429
Lot Area           0.368499
Wood Deck SF       0.353516
Lot Frontage       0.326962
Half Bath          0.311638
Bsmt Full Bath     0.277084
BsmtFin SF 1       0.243884
Bsmt Unf SF        0.185021
Bedroom AbvGr      0.180503
2nd Flr SF         0.133177
Screen Porch       0.099964
Pool Area          0.063196
3Ssn Porch         0.040973
Mo Sold            0.038960
Overall Cond       0.001764
Bsmt Half Bath    -0.021348
Yr Sold           -0.033131
Misc Val          -0.051181
Low Qual Fin SF   -0.063356
Kitchen AbvGr     -0.123708
Enclosed Porch    -0.220050
Name: SalePrice, dtype: float64

## Step 5: Converting categorical data to numerical

In [7]:
data_final = pd.get_dummies(data_clean)
data_final.head()

,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Mas Vnr Area,BsmtFin SF 1,Bsmt Unf SF,Total Bsmt SF,1st Flr SF,...,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_Abnorml,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
0,3.044522,4.955827,10.366309,6,1.791759,4.727388,6.461468,6.091310,6.985642,7.412764,...,False,False,False,True,False,False,False,False,True,False
1,3.044522,4.394449,9.360741,5,1.945910,0.000000,6.150603,5.602119,6.783325,6.799056,...,False,False,False,True,False,False,False,False,True,False
2,3.044522,4.406719,9.565775,6,1.945910,4.691348,6.828712,6.008813,7.192934,7.192934,...,False,False,False,True,False,False,False,False,True,False
3,3.044522,4.543295,9.320181,7,1.791759,0.000000,6.971669,6.952729,7.654917,7.654917,...,False,False,False,True,False,False,False,False,True,False
4,4.110874,4.317488,9.534668,5,1.791759,0.000000,6.674561,4.927254,6.834109,6.834109,...,False,False,False,True,False,False,False,False,True,False

## Step 6: Save the data_final DataFrame to a CSV file
data_final is the most advanced cleaned data, save in the processed folder

In [8]:
data_final.to_csv('./project/volume/data/processed/data_clean.csv', index = False)